
.collectionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cardListContainer {
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    width: calc(100% + 1px);
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.cardList {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.cardList img {
    width: 50%;
}
