@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(180deg, #22182f 0%, #2c2437 100%); */
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
}
header {
  padding: 1rem;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid;
  text-align: center;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.primaryBtn {
  background-color: #000;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Modal */
.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

/* Footer */
footer {
  margin-top: 10rem;
}
.footerBackground {
  background-image: url("./assets/bottomimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}
.contactInfo {
  position: absolute;
  color: #fff;
  width: 20rem;
  right: 8rem;
  top: 5rem;
}
.contactInfo p {
  text-align: left;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.socialIcons a:hover {
  scale: 1.2;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 54px;
  }
  footer {
    margin-top: 5rem;
    position: relative;
    z-index: 2;
  }
  .footerBackground {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .footerBackground {
    height: 40vh;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 40px;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
