@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 2rem;
  /* background: linear-gradient(180deg, #22182f 0%, #2c2437 100%); */
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav a {
  color: #000;
  text-decoration: none;
}
.logo {
  width: 2.5rem;
}
.icon {
  width: 1.5rem;
}

/* Layout */

/* Footer */
.footerBackground {
  background-image: url("./assets/bottomimg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  position: relative;
}
.contactInfo {
  position: absolute;
  color: #fff;
  width: 20rem;
  right: 8rem;
  top: 5rem;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.socialIcons a:hover {
  scale: 1.2;
}
